<div class="infor container">
 <div class="mostrar">
   <h1>Datos personales</h1>
    <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Ingrese Nombre:</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="nombre">
        
          <label for="formGroupExampleInput2">Ingrese numero:</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="numero">
        </div>
        <button type="button" class="btn btn-primary">enviar</button>

      </form>
 </div>

</div>